@tailwind base;
@tailwind components;
@tailwind utilities;

/* Our-Session Starts */
.ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .ag-courses_item a{
    text-decoration: none;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #414141;
    overflow: hidden;   
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #2596be;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #2596be;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #2596be;
  }
 /*marquee section starts */
  .marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 200px;
    overflow-x: hidden;
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 50s linear infinite;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  
  /* marquee section ends */
  /*--------------------------------------------------------------*/

/* become a member and btn1 */

.header-actions {
  position: absolute;
  top: 50%; /* Adjust this value to vertically align the container */
  right: 0;
  transition: top 0.3s;
  transform: translateY(-50%);
}

.bcm.hover-slide-right::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #2596be; /* Specify the color you want */
  z-index: -1;
  transition: width 0.3s; /* Add transition for smooth animation */
  border-radius: inherit;
  
}

.bcm.hover-slide-right:hover::before {
  width: 100%;
}

.bcm.hover-slide-right a {
  color: rgb(17 24 39);; 
  transition: color 0.3s; 
}

.bcm.hover-slide-right:hover a {
  color: #fff; /* New font color when hovered */
}
/*------------------------------- */
/* become a member and btn1 ends */
/*------------------------------*/
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }

  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }

/* testimonial section */
/* .member-revs {
  background: ;
} */

h1 {
  font-size: 2.5rem;
  text-align: left;
  font-weight: 400;
  color: #0a0a0a;
  margin: 3rem 0 0 0;
}

h1 span {
  font-family: "Satisfy", cursive;
  font-size: 4rem;
  color: #2596be;
}


q {
  font-size: 2rem;
}

q {
  font-weight: 500;
  line-height: 1.5rem;
}

p {
  color: rgb(66,66,66);
}

.customer-revs {
  margin: 0 auto 0 auto;
}


/* slideshow container */
.slideshow-container {
  position: relative;
  width: 60rem;
  max-width: 80%;
  margin: 0 auto;
}

/* Slides */
.mySlides {
  display: none;
  padding: 2rem 5rem 0 5rem;
  text-align: center;
}

.mySlidesContainer {
  min-height: 4rem;
  padding: 3.5rem 2.5rem 2rem 3.5rem;
  /* background: #2596be; */
}

/* next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  margin-top: -1.875rem;
  padding: 1rem;
  color: #232323;
  font-weight: bold;
  font-size: 3rem;
  border-radius: 3px;
  user-select: none;
  transition: 0.4s;
}

/* position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px;
}

/* on hover, add a black bg color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #000; /* fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  color: #2596be;
  text-decoration: none;
}

/* the dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 0 1.25rem;
}

/* the dots/bullets/indicators */
.dot {
  height: 0.9375rem;
  width: 0.9375rem;
  margin: 0 2px;
  background-color: rgb(66,66,66);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}

/* add bg color to the active dot/circle */
.active {
  background-color: #232323;
}

@media (max-width: 640px) {
  .hero-left-content {
    display: none;
  }
}

/* btn1 */
.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 170px;
  font-weight: bold;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
  border-radius: 20%;
  text-align: center;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropbtn:hover{
 background-color: #2596be;
}
.dropdown a:hover{
  background-color: #ddd;
}

.show{
  display: block;
}

/*about us section */
:root {
  --primary-clr: #95a3ee;
  --primary-clr-light: hsla(234, 89%, 74%, .7);
  --primary-clr-dark:#5C6BC0;

  --secondary-clr: #42A5F5;
  --secondary-clr-dark: #2b89d6;


  --special-heading-clr: #5C2B26;

  --fs-75: .75rem;
  --fs-100: 1rem;
  --fs-125: 1.25rem;
  --fs-150: 1.5rem;
  --fs-200: 2rem;

  --fw-regular: 300;
  --fw-bold: 600;
  --fw-black: 700;    
}

.grid-flow {
  display: grid;
}

.flexgroup {
  display: flex;
}

/* body {
  width: 100vw;
  margin: 2.5rem;
  position: relative;
  font-family: 'Inter', sans-serif;
  background-color: #ecefff;
}

main {
  padding-inline: 5rem;
  gap: 4rem;;
} */

.section-1 {
  gap: 2rem;

}



.hero-image {
  place-items: center;
  margin-bottom: 2rem;
}

.hero-image > img {
  width: 90%;
  height: 600px;
}

.section-1-heading {
  align-items: center;
  gap: 5rem;
  color: var(--secondary-clr);
  font-size: var(--fs-200);
  font-weight: var(--fw-black);
}


.section-1-heading img {
  width: 75px;
}
.intro {
  gap: 2rem;
}

.intro h1 {
  font-size: var(--fs-150);
  color: var(--special-heading-clr);
  font-weight: var(--fw-bold);


}

.intro span {
  background-color: var(--secondary-clr-dark);
  padding: .5rem;
  color: white;
}

.intro p {
  font-size: var(--fs-125);
  width: 70%;
  line-height: 2;
}

.mission-int {
  width: 90%;
  justify-content: flex-end;
  align-items: center;
}

.mission-int h1 {
  font-size: var(--fs-150);
  z-index: 1;
  font-weight: var(--fw-bold);
}

.arrow {
  position: relative;
  bottom: 2rem;
  height: 250px;
}

.heart {
  position: relative;
  left: 3.6rem;
  top: .3rem;
  width: 100px;
}

.mission-div {
  width: 90%;
  justify-content: space-between;
  align-items: center;

}

.cloud {
  width: 300px;
}

.mission-des {
  text-align: right;
  font-size: var(--fs-125);
  width: 60%;
  line-height: 2;
}

.section-2 {
  place-items: center;
  gap: 4rem;
}

.section-2-heading {
  font-size: var(--fs-150);
  color: var(--secondary-clr);
  font-weight: var(--fw-bold);
}

.engage-div {
  justify-content: space-around;
}

.engage {
  align-items: center;
  gap: 1rem;
}

.engage h3 {
  font-size: var(--fs-125);
  color: var(--primary-clr-dark);
  font-weight: var(--fw-bold);
}

.features-div {
  width: 100%;
  justify-content: space-evenly;
  gap: 3rem;
}

.feature {
  width: 300px;
  background-color: var(--primary-clr);
  color:white;
  padding: 2rem;
  border-bottom:  1.5rem solid var(--primary-clr-dark);
  border-radius: .5rem;
}

.feature h1 {
  font-size: var(--fs-125);
  font-weight: var(--fw-bold);
}

.feature p {
  width: 250px;
  margin-top: 15px;
}


.section-2-sub {
  gap: 1rem;
}


.eng-2 h3 {
  color: var(--secondary-clr-dark);
}


.f-2 {
  background-color: var(--secondary-clr);
  border-color: var(--secondary-clr-dark);

}

.feature:hover {
  margin-top: -10px;;
}

@media (max-width: 900px) {

  body {
      margin: 2rem;
  }

  p, h1, h2, h3 {
      width: 100%;
  }
  .grid-flow {
      place-items: center;
  }

  main {
      max-width: 40rem;
      padding: 0;
      text-align: center;
  }

  .hero-image > img {
      width: 100%;
      height: 300px;
  }

  .section-1-heading img {
      display: none;
  }

  .intro h1 {

      min-width: 70%
  }
  .features-div {
      flex-direction: column;
  }

  .engage-div {
      display: none; 
  }

  .mission {
      gap: 1rem;
  }

  .mission-div {
      flex-direction: column;
      gap: 1rem;

  }

  .mission h1 {
      width: auto;
  }

  .mission-des {
      text-align: center;
      width: 80%;
      margin-top: 1rem;
  }

  .mission-int {
      justify-content: center;
  }


  .heart {
      width: 75px;
      left: 0;
  }

  .arrow {

      display: none;
  }


}

/*contact-us form */
